@font-face {
    font-family: 'Heart Breaking Bad';
    src: url('HeartBreakingBad.woff2') format('woff2'),
        url('HeartBreakingBad.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

