@font-face {
    font-family: 'Averia Serif Libre';
    src: url('AveriaSerifLibre-Regular.woff2') format('woff2'),
        url('AveriaSerifLibre-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

